<h3>FordonsTyper</h3>

<div ng-controller="VehicleTypeCtrl">
    <ul class="list-group">
        <li ng-repeat="vt in vehicletypes" class="list-group-item">
            {{vt.Type}}
        </li>
    </ul>
</div>


<h3>Personer</h3>

<div ng-controller="PersonCtrl">
    <ul class="list-group">
        <li ng-repeat="person in people" class="list-group-item">
            {{person.FullName}} 
            {{person.SSN}}
            
        </li>
    </ul>
</div>

<h3>Fordon</h3>

<div ng-controller="VehicleCtrl">
    <ul class="list-group">
        <li ng-repeat="vehicle in vehicles" class="list-group-item">
            {{vehicle.Model}}
            {{vehicle.Manufacturer}}
            {{vehicle.Color}}
            {{vehicle.RegNr}}
        </li>
    </ul>
</div>

<h3>Ägare</h3>

<div ng-controller="OwnerCtrl">
    <ul class="list-group">
        <li ng-repeat="owner in owners" class="list-group-item">
            {{owner.Person.FullName}}
        </li>
    </ul>
</div>
