<h3>Fordon</h3>

<button class="btn btn-primary" data-toggle="modal" data-target="#addForm">{{model.toggleText}}</button>

<div id="addForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--ng-show="model.toggle" ng-click=" model.toggleit()"-->
        <form class=" modal-content" role="form" ng-submit="model.addRow();">
            <div class="modal-body">
                <div class="form-group">
                    <label for="InputRegNr">Registreringsnummer</label>
                    <input type="text" class="form-control" id="InputRegNr" placeholder="ABC123" ng-model="model.RegNr" />
                </div>
                <div class="form-group">
                    <label for="InputManufacturer">Märke</label>
                    <input type="text" class="form-control" id="InputManufacturer" placeholder="Bolbo" ng-model="model.Manufacturer" />
                </div>
                <div class="form-group">
                    <label for="InputModel">Modell</label>
                    <input type="text" class="form-control" id="InputModel" placeholder="tvåförti" ng-model="model.Model" />
                </div>
                <div class="form-group">
                    <label for="InputNrOfWheels">Antal hjul</label>
                    <input type="number" class="form-control" id="InputNrOfWheels" placeholder="5" ng-model="model.NumberOfWheels" />
                </div>
                <div class="form-group">
                    <label for="InputColor">Färg</label>
                    <input type="text" class="form-control" id="InputColor" placeholder="Magenta" ng-model="model.Color" />
                </div>
                <div class="form-group">
                    <label for="InputType">Fordonstyp</label>
                    <select id="InputType" class="form-control"
                            ng-model="model.VehicleType"
                            ng-options="vt.value as vt.Type for vt in model.vehicletypes track by vt.Id"></select>
                    <!--ng-init="model.VehicleType = model.VehicleType || options[0]" -->
                    <!--ng-options="vt.name for vt in model.vehicletypes">-->
                </div>
                <div class="form-group">
                    <input type="submit" value="Lägg till" class="btn btn-primary" data-dismiss="modal" />
                </div>
            </div>
        </form>
    </div>
</div>

<label>Sök: <input ng-model="model.searchText"></label>

<div>
    <table class="table table-hover table-striped">
        <thead class="">
            <tr>
                <th>
                    <a href="#" ng-click="sortType = 'Owner'; model.toggleDir();">Ägare</a>
                    <i ng-show="sortType == 'Owner'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'Manufacturer'; model.toggleDir();">Märke</a>
                    <i ng-show="sortType == 'Manufacturer'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'Model'; model.toggleDir();">Modell</a>
                    <i ng-show="sortType == 'Model'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'RegNr'; model.toggleDir();">Registreringsnummer</a>
                    <i ng-show="sortType == 'RegNr'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'Color'; model.toggleDir();">Färg</a>
                    <i ng-show="sortType == 'Color'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'NrOfWheels'; model.toggleDir();">Antal hjul</a>
                    <i ng-show="sortType == 'NrOfWheels'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'Type'; model.toggleDir();">Fordonstyp</a>
                    <i ng-show="sortType == 'Type'" class="fa fa-arrow-{{model.DirText}}" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vehicle in model.vehicles | filter:model.searchText | orderBy:sortType:model.dir">
                <td>{{vehicle.Owner.Person.FirstName}} {{vehicle.Owner.Person.LastName}}</td>
                <td>{{vehicle.Manufacturer}}</td>
                <td>{{vehicle.Model}}</td>
                <td>{{vehicle.RegNr}}</td>
                <td>{{vehicle.Color}}</td>
                <td>{{vehicle.NumberOfWheels}}</td>
                <td>{{vehicle.VehicleType.Type}}</td>
                <td><button class="btn btn-danger btn-xs" ng-click="model.remove(vehicle, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>